:root {
  --primary: hsl(235, 18%, 26%);
  --secondary: hsl(0, 0%, 100%);
  --one: hsl(4, 100%, 67%);
  --two: hsl(234, 29%, 20%);
  --four: hsl(231, 7%, 60%);
}

@font-face {
  font-family: "roboto-bold";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  /* Centering the card */
  min-height: 100vh;
  display: grid;
  place-items: center;

  margin: 0;
  background-color: var(--primary);
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  border-radius: 20px;

  box-sizing: border-box;
  width: 925px;
}

.left {
  display: grid;
  place-content: center;
  padding: 0 45px;
}

.left h1 {
  font-family: "roboto-bold", sans-serif;
  font-size: 50px;
  color: var(--two);

  margin-bottom: 0;
}

.left p {
  font-family: "roboto-regular", sans-serif;
}

.features {
  display: flex;
  flex-direction: column;
}

.feat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.in-title {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#input-title {
  font-family: "roboto-bold", sans-serif;
  font-size: 12px;
}

#error-message {
  font-family: "roboto-bold", sans-serif;
  font-size: 12px;
}

.left input {
  width: 290px;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--four);
  margin-bottom: 15px;
}

.left button {
  background-color: var(--two);
  color: var(--secondary);
  font-family: "roboto-regular", sans-serif;
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
}

.left button:hover {
  background: linear-gradient(
    90deg,
    rgba(207, 61, 44, 1) 41%,
    rgba(255, 176, 167, 1) 100%
  );
}

#mobile-img {
  display: none;
}

.right {
  padding: 10px;
}

/* container two */

.container-two {
  display: grid;
  place-content: center;
  background-color: var(--secondary);
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 410px;
  padding: 30px 60px;
}

.container-two img {
  width: 60px;
}

.container-two h1 {
  font-size: 50px;
  font-family: "roboto-bold", sans-serif;
  margin-bottom: 0;
}

.container-two p {
  font-family: "roboto-regular", sans-serif;
}

.container-two button {
  background-color: var(--two);
  color: var(--secondary);
  font-family: "roboto-regular", sans-serif;
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  border: none;
  cursor: pointer;

  margin-top: 10px;
  margin-bottom: 10px;
}

.container-two button:hover {
  background: linear-gradient(
    90deg,
    rgba(207, 61, 44, 1) 41%,
    rgba(255, 176, 167, 1) 100%
  );
}

@media (max-width: 375px) {
  .container {
    flex-direction: column-reverse;
    border-radius: 0;
    width: 375px;
  }

  .left h1 {
    font-size: 40px;
  }

  .left button {
    margin-bottom: 20px;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
  }

  .right {
    padding: 0;
  }

  .container-two {
    width: 375px;
    border-radius: 0;
    height: 100vh;
  }

  .container-two h1 {
    font-size: 40px;
  }

  .container-two button {
    margin-top: 200px;
  }
}
